 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 642px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  width: 814px;
  margin: 60px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 686px;
  grid-gap: 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-group-1 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -79px 0 0 121px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-group-2 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  margin: -79px 0 0 121px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-group-3 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: -79px 0 0 121px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-1 .u-group-4 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: -79px 0 0 121px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-1 .u-group-5 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  margin: -79px 0 0 121px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-1 .u-group-6 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-13 {
  margin: -79px 0 0 121px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 20px;
}

.u-section-1 .u-group-7 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-14 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  margin: -79px 0 0 121px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px 20px;
}

.u-section-1 .u-group-8 {
  width: 79px;
  min-height: 79px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-17 {
  margin: -79px 0 0 121px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 579px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-text-15 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-text-17 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 913px;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 61px auto 0;
}

.u-section-2 .u-slider-1 {
  margin-top: 69px;
  margin-bottom: 60px;
  min-height: 619px;
  height: auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -57px;
}

.u-section-2 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-2 .u-group-1 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 60px 40px 40px;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-image-1 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-2 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-2 .u-group-2 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 60px 40px 40px;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-2 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 65px;
}

.u-section-2 .u-group-3 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 60px 40px 40px;
}

.u-section-2 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-image-3 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -559px 0 95px auto;
}

.u-section-2 .u-carousel-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 65px;
}

.u-section-2 .u-group-4 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 60px 40px 40px;
}

.u-section-2 .u-text-8 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-image-4 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-2 .u-carousel-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 65px;
}

.u-section-2 .u-group-5 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 60px 40px 40px;
}

.u-section-2 .u-text-10 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-image-5 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-2 .u-carousel-item-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 65px;
}

.u-section-2 .u-group-6 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 60px 40px 40px;
}

.u-section-2 .u-text-12 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-image-6 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-2 .u-carousel-item-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 65px;
}

.u-section-2 .u-group-7 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 60px 40px 40px;
}

.u-section-2 .u-text-14 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-image-7 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-2 .u-carousel-item-8 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 65px;
}

.u-section-2 .u-group-8 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-16 {
  padding: 60px 40px 40px;
}

.u-section-2 .u-text-16 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-image-8 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 59px auto;
}

.u-section-2 .u-carousel-item-9 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-17 {
  padding: 30px 65px;
}

.u-section-2 .u-group-9 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-18 {
  padding: 60px 40px 40px;
}

.u-section-2 .u-text-18 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-2 .u-text-19 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-image-9 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -529px 0 65px auto;
}

.u-section-2 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-2 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 397px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 32px;
  }

  .u-section-2 .u-image-1 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-group-2 {
    width: 397px;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 32px;
  }

  .u-section-2 .u-image-2 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-group-3 {
    width: 397px;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 32px;
  }

  .u-section-2 .u-image-3 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-group-4 {
    width: 397px;
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 32px;
  }

  .u-section-2 .u-image-4 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-group-5 {
    width: 397px;
    height: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 32px;
  }

  .u-section-2 .u-image-5 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-group-6 {
    width: 397px;
    height: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-bottom: 32px;
  }

  .u-section-2 .u-image-6 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-group-7 {
    width: 397px;
    height: auto;
  }

  .u-section-2 .u-container-layout-14 {
    padding-bottom: 32px;
  }

  .u-section-2 .u-image-7 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-group-8 {
    width: 397px;
    height: auto;
  }

  .u-section-2 .u-container-layout-16 {
    padding-bottom: 32px;
  }

  .u-section-2 .u-image-8 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-2 .u-group-9 {
    width: 397px;
    height: auto;
  }

  .u-section-2 .u-container-layout-18 {
    padding-bottom: 32px;
  }

  .u-section-2 .u-image-9 {
    width: 405px;
    animation-duration: 1000ms;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-2 .u-group-1 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-2 .u-group-2 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-2 .u-group-3 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-2 .u-group-4 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-2 .u-container-layout-8 {
    padding: 30px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-2 .u-group-5 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-2 .u-container-layout-10 {
    padding: 30px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-2 .u-group-6 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-2 .u-container-layout-12 {
    padding: 30px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-2 .u-group-7 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-2 .u-container-layout-14 {
    padding: 30px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-2 .u-group-8 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-2 .u-container-layout-16 {
    padding: 30px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-2 .u-group-9 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-2 .u-container-layout-18 {
    padding: 30px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 20px;
    width: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 449px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-2 .u-group-1 {
    width: 320px;
  }

  .u-section-2 .u-image-1 {
    height: 294px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-2 .u-group-2 {
    width: 320px;
  }

  .u-section-2 .u-image-2 {
    height: 294px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-2 .u-group-3 {
    width: 320px;
  }

  .u-section-2 .u-image-3 {
    height: 294px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-2 .u-group-4 {
    width: 320px;
  }

  .u-section-2 .u-image-4 {
    height: 294px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-2 .u-group-5 {
    width: 320px;
  }

  .u-section-2 .u-image-5 {
    height: 294px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-2 .u-group-6 {
    width: 320px;
  }

  .u-section-2 .u-image-6 {
    height: 294px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-2 .u-group-7 {
    width: 320px;
  }

  .u-section-2 .u-image-7 {
    height: 294px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-2 .u-group-8 {
    width: 320px;
  }

  .u-section-2 .u-image-8 {
    height: 294px;
    width: 320px;
  }

  .u-section-2 .u-container-layout-17 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-2 .u-group-9 {
    width: 320px;
  }

  .u-section-2 .u-image-9 {
    height: 294px;
    width: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 930px;
}

.u-section-3 .u-text-1 {
  font-weight: 900;
  margin: 61px auto 0;
}

.u-section-3 .u-slider-1 {
  margin-top: 69px;
  margin-bottom: 60px;
  min-height: 661px;
  height: auto;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -57px;
}

.u-section-3 .u-carousel-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-3 .u-group-1 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 60px 40px 40px;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-image-1 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 3px 0 auto;
}

.u-section-3 .u-carousel-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 65px;
}

.u-section-3 .u-group-2 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 60px 40px 40px;
}

.u-section-3 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -487px 0 23px auto;
}

.u-section-3 .u-carousel-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 65px;
}

.u-section-3 .u-group-3 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 60px 40px 40px;
}

.u-section-3 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-image-3 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 137px auto;
}

.u-section-3 .u-carousel-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px 65px;
}

.u-section-3 .u-group-4 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 60px 40px 40px;
}

.u-section-3 .u-text-8 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-image-4 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-3 .u-carousel-item-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px 65px;
}

.u-section-3 .u-group-5 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 60px 40px 40px;
}

.u-section-3 .u-text-10 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-image-5 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 0 auto;
}

.u-section-3 .u-carousel-item-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px 65px;
}

.u-section-3 .u-group-6 {
  width: 505px;
  min-height: 464px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 60px 40px 40px;
}

.u-section-3 .u-text-12 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-3 .u-image-6 {
  width: 505px;
  height: 464px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -464px 0 29px auto;
}

.u-section-3 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-3 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 3px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 397px;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 32px;
  }

  .u-section-3 .u-image-1 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-group-2 {
    width: 397px;
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 32px;
  }

  .u-section-3 .u-image-2 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-group-3 {
    width: 397px;
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 32px;
  }

  .u-section-3 .u-image-3 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-group-4 {
    width: 397px;
    height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 32px;
  }

  .u-section-3 .u-image-4 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-group-5 {
    width: 397px;
    height: auto;
  }

  .u-section-3 .u-container-layout-10 {
    padding-bottom: 32px;
  }

  .u-section-3 .u-image-5 {
    width: 405px;
    animation-duration: 1000ms;
  }

  .u-section-3 .u-group-6 {
    width: 397px;
    height: auto;
  }

  .u-section-3 .u-container-layout-12 {
    padding-bottom: 32px;
  }

  .u-section-3 .u-image-6 {
    width: 405px;
    animation-duration: 1000ms;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-3 .u-group-1 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-3 .u-group-2 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-3 .u-container-layout-4 {
    padding: 30px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-3 .u-group-3 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-3 .u-container-layout-6 {
    padding: 30px;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-3 .u-group-4 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-3 .u-container-layout-8 {
    padding: 30px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-3 .u-group-5 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-3 .u-container-layout-10 {
    padding: 30px;
  }

  .u-section-3 .u-image-5 {
    margin-top: 20px;
    width: 505px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-3 .u-group-6 {
    min-height: 383px;
    width: 405px;
  }

  .u-section-3 .u-container-layout-12 {
    padding: 30px;
  }

  .u-section-3 .u-image-6 {
    margin-top: 20px;
    width: 505px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-3 .u-slider-1 {
    min-height: 491px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-3 .u-group-1 {
    width: 320px;
  }

  .u-section-3 .u-image-1 {
    height: 294px;
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
  }

  .u-section-3 .u-image-2 {
    height: 294px;
    width: 320px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-3 .u-group-3 {
    width: 320px;
  }

  .u-section-3 .u-image-3 {
    height: 294px;
    width: 320px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-3 .u-group-4 {
    width: 320px;
  }

  .u-section-3 .u-image-4 {
    height: 294px;
    width: 320px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-3 .u-group-5 {
    width: 320px;
  }

  .u-section-3 .u-image-5 {
    height: 294px;
    width: 320px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-right: 35px;
    padding-left: 40px;
  }

  .u-section-3 .u-group-6 {
    width: 320px;
  }

  .u-section-3 .u-image-6 {
    height: 294px;
    width: 320px;
  }
}